body {
  background-color: black;
  color: white;
  width: 100%;
}

/* #row {
  display: flex;
} */
h2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 58px;
  font-weight: 600;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

#startUp {
  margin-top: 10%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main {
  width: 80px;
  height: 40px;
}

#grid {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
#game {
  display: flex;
  justify-content: center;
}
#text {
  margin-top: 3%;
  margin-left: 3%;
}
button {
  width: 25px;
  height: 25px;
  margin: 1px 1px 1px 1px;
  border: none;
  background-color: #dc8e08;
  color: white;
}

button {
  transition-duration: 0.2s;
}

button:hover {
  background-color: white; /* Green */
  color: black;
}
